
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="page-title">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><button class="btn btn-pill btn btn-primary" type="button" title="btn btn-pill btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalfat5" data-whatever="@Html.Raw("@mdo")">  <strong>لإبلاغ عن متوفي <i class="fas fa-flag-alt"></i></strong></button></li>

                        <li class="breadcrumb-item">
                            <a asp-controller="SamplePage" asp-action="Page2">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="col-xxl-8 col-sm-12 box-col-12 mt-5">
            <div class="card-header p-3" style="background-color: rgb(241 241 241 / 3%);
    border-bottom: 1px solid rgb(245 245 245 / 13%);">
                <h3 class="light-card balance-card widget-hover border border-secondary-subtle w-50 mx-auto d-flex justify-content-center border border-secondary rounded-pill bg-primary">
                    <i class="fas fa-tombstone-alt" style="font-size:30px;"></i>  مـقبرة - جـاد

                </h3>
            </div>
            <div class="row">

                <div class="col-xxl-6 col-xl-3 box-col-12">
                    <div class="card widget-1">
                        <div class="card-body align-items-center">
                            <div class="widget-content">
                               
                                    <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/70/external-cube-virtual-reality-icongeek26-linear-colour-icongeek26.png" alt="external-cube-virtual-reality-icongeek26-linear-colour-icongeek26" />
                                    </div>
                                
                                <div>
                                    <h5> الـغرف</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">4</h5></div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-6 col-xl-3 box-col-12">
                    <div class="card widget-1">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/bubbles/70/numbers.png" alt="numbers" />
                                </div>

                                <div>
                                    <h5>الـعدد</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">24 </h5></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-3 box-col-12">
                    <div class="card widget-1 ">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/external-filled-outline-berkahicon/70/external-User-Avatar-avatars-filled-outline-berkahicon-13.png" alt="external-User-Avatar-avatars-filled-outline-berkahicon-13" />
                                </div>

                                <div>
                                    <h5> رجـال</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">12  </h5></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-3 box-col-12">
                    <div class="card widget-1">
                        <div class="card-body align-items-center">
                            <div class="widget-content">

                                <div class="bg-round">
                                    <img width="70" height="70" src="https://img.icons8.com/external-soft-fill-juicy-fish/70/external-muslim-ramadan-soft-fill-soft-fill-juicy-fish-3.png" alt="external-muslim-ramadan-soft-fill-soft-fill-juicy-fish-3" />
                                </div>

                                <div>
                                    <h5>سيدات</h5>
                                </div>
                            </div>
                            <div class="font-Info"><h5 class="mb-1">12</h5></div>
                        </div>
                    </div>
                </div>
            </div>
       

        </div>

        <div class="row mt-3">
            <div class="col-sm-12 col-xl-12">
                <div class="card card-absolute">
                    <div class="card-header bg-primary" style="top: -36px;">
                        <h5 class="text-white" style="font-size: 1.30rem;">  حـاله الـمقبرة  </h5>
                    </div>
                    <div class="card-body align-items-center justify-content-center text-center">
                        <div class="widget-content">
                            <div class="row">
                                <div class="col-sm-12 col-xl-6">
                                    <div class="card card-absolute border border-secondary">
                                        <div class="card-header bg-primary rounded-pill " style="top: -30px;">
                                            <h5 class="text-white" @*style="font-size: 1.30rem;"*@>  غـرفه 1 </h5>
                                        </div>
                                        <div class="card-body align-items-center justify-content-center text-center">
                                            <div class="widget-content">
                                                <div class="row">
                                                    <div class="row">
                                                    
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 " @*style="border-color: #000000;"*@>
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/bubbles/70/ok.png" alt="ok" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>القـوة</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1">6</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/ios-filled/70/228BE6/standing-man.png" alt="standing-man" />
                                                                        </div>

                                                                        <div>
                                                                            <h5> المتاح رجـال </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1">2</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="64" height="64" src="https://img.icons8.com/clouds/64/google-calendar.png" alt="google-calendar" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>  أخــر دفـنه</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1"><span class="badge rounded-pill badge-light-success">2023 / 12 / 01 </span></h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-6">
                                    <div class="card card-absolute border border-secondary">
                                        <div class="card-header bg-primary rounded-pill " style="top: -30px;">
                                            <h5 class="text-white" @*style="font-size: 1.30rem;"*@>  غـرفه 2 </h5>
                                        </div>
                                        <div class="card-body align-items-center justify-content-center text-center">
                                            <div class="widget-content">
                                                <div class="row">
                                                    <div class="row">

                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 " @*style="border-color: #000000;"*@>
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/bubbles/70/ok.png" alt="ok" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>القـوة</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1">6</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/ios-filled/70/228BE6/standing-man.png" alt="standing-man" />
                                                                        </div>

                                                                        <div>
                                                                            <h5> المتاح رجـال </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1">5</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="64" height="64" src="https://img.icons8.com/clouds/64/google-calendar.png" alt="google-calendar" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>  أخــر دفـنه</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1"><span class="badge rounded-pill badge-light-success">2023 / 12 / 01 </span></h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-6">
                                    <div class="card card-absolute border border-secondary">
                                        <div class="card-header bg-primary rounded-pill " style="top: -30px;">
                                            <h5 class="text-white" @*style="font-size: 1.30rem;"*@>  غـرفه 3 </h5>
                                        </div>
                                        <div class="card-body align-items-center justify-content-center text-center">
                                            <div class="widget-content">
                                                <div class="row">
                                                    <div class="row">

                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 " @*style="border-color: #000000;"*@>
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/bubbles/70/ok.png" alt="ok" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>القـوة</h5>
                                                                        </div>
                                                                    </div>

                                                                    <div class="font-Info"><h5 class="mb-1">6</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/dusk/70/standing-woman.png" alt="standing-woman" />
                                                                        </div>

                                                                        <div>
                                                                            <h5> المتاح سيدات </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1">1</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="64" height="64" src="https://img.icons8.com/clouds/64/google-calendar.png" alt="google-calendar" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>  أخــر دفـنه</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1"><span class="badge rounded-pill badge-light-success">2023 / 12 / 01 </span></h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-6">
                                    <div class="card card-absolute border border-secondary">
                                        <div class="card-header bg-primary rounded-pill " style="top: -30px;">
                                            <h5 class="text-white" @*style="font-size: 1.30rem;"*@>  غـرفه 4 </h5>
                                        </div>
                                        <div class="card-body align-items-center justify-content-center text-center">
                                            <div class="widget-content">
                                                <div class="row">
                                                    <div class="row">

                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 " @*style="border-color: #000000;"*@>
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/bubbles/70/ok.png" alt="ok" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>القـوة</h5>
                                                                        </div>
                                                                    </div>

                                                                    <div class="font-Info"><h5 class="mb-1">6</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center ">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="70" height="70" src="https://img.icons8.com/dusk/70/standing-woman.png" alt="standing-woman" />
                                                                        </div>

                                                                        <div>
                                                                            <h5> المتاح سيدات </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1">6</h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-6 col-xl-12 box-col-12">
                                                            <div class="card widget-1 ">
                                                                <div class="card-body align-items-center">
                                                                    <div class="widget-content">

                                                                        <div class="bg-round">
                                                                            <img width="64" height="64" src="https://img.icons8.com/clouds/64/google-calendar.png" alt="google-calendar" />
                                                                        </div>

                                                                        <div>
                                                                            <h5>  أخــر دفـنه</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="font-Info"><h5 class="mb-1"><span class="badge rounded-pill badge-light-success">2023 / 12 / 12 </span></h5></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header p-3">
                        <h3 class="light-card balance-card widget-hover border border-secondary-subtle w-50 mx-auto d-flex justify-content-center border border-secondary rounded-pill">
                            <i class="fas fa-book" style="font-size:30px;"></i>  تـفاصيل الغرف

                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table display align-middle text-center table-hover rounded-pill" id="table" data-order='[[ 0, "asc" ]]' data-page-length='10'>

                                <thead>
                                    <tr>
                                        <th class="text-center"> <i class="fas fa-signature"></i> الغرفه</th>
                                        <th class="text-center"><i class="fas fa-check-double"></i> الـقوة</th>
                                        <th class="text-center"><i class="fas fa-stopwatch-20"></i> العدد الحالي</th>

                                        <th class="text-center"><i class="fas fa-exclamation-circle"></i> فـعل </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">غرفه 1</td>
                                        <td class="text-center"><span class="badge rounded-pill badge-light-primary"> 6</span></td>
                                        <td class="text-center"><h6><span class="badge rounded-pill badge-light-success"> 3</span></h6></td>

                                        <td class="text-center">
                                            <button class="btn btn-pill btn-primary widget-hover mt-3" type="button" title="btn btn-pill btn-primary" style="transition: 1s;" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"> تـفاصيل <i class="fas fa-info"></i></button>
                                            <button class="btn btn-pill btn-warning widget-hover mt-3" type="button" title="btn btn-pill btn-warning" style="transition: 1s;" data-bs-toggle="modal" data-bs-target="#exampleModalfat2" data-whatever="@Html.Raw("@mdo")">تـعديل <i class="far fa-file-edit"></i></button>

                                        </td>
                                        @*<span class="badge rounded-pill badge-success">*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">غرفه 2</td>
                                        <td class="text-center"><span class="badge rounded-pill badge-light-primary"> 6</span></td>
                                        <td class="text-center"> <h6><span class="badge rounded-pill badge-light-success"> 5</span></h6></td>

                                        <td class="text-center">
                                            <button class="btn btn-pill btn-primary widget-hover mt-3" type="button" title="btn btn-pill btn-primary" style="transition: 1s;" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"> تـفاصيل <i class="fas fa-info"></i></button>
                                            <button class="btn btn-pill btn-warning widget-hover mt-3" type="button" title="btn btn-pill btn-warning " style="transition: 1s;">تـعديل <i class="far fa-file-edit"></i></button>
                                        </td>
                                        @*<span class="badge rounded-pill badge-success">*@
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel"> <img width="70" height="70" src="https://img.icons8.com/pulsar-color/70/room.png" alt="room" /> تـفاصيل الـغرفه </h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table display align-middle text-center table-hover border border-secondary-subtle" id="table" data-order='[[ 0, "asc" ]]' data-page-length='10'>

                            <thead>
                                <tr>
                                    <th class="text-center"> <i class="fas fa-signature font-primary"></i> أسم المتوفي</th>
                                    <th class="text-center"><i class="fas fa-calendar-week font-primary"></i> تاريـخ الدفن</th>
                                    <th class="text-center"><i class="fas fa-map-marked-alt font-primary"></i> المكان </th>
                                    <th class="text-center"><i class="fas fa-info-circle font-primary"></i> الفعل </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><h6> أحمد محمد</h6></td>
                                    <td class="text-center"><h6> 15 / 05 / 2023</h6></td>
                                    <td class="text-center"><h6> الجيزة</h6></td>
                                    <td class="text-center"><button class="btn btn-pill btn btn-primary" type="button" title="btn btn-pill btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalfat" data-whatever="@Html.Raw("@mdo")">  معلومات <i class="fas fa-question"></i> </button></td>
                                    
                                    @*<span class="badge rounded-pill badge-success">*@
                                </tr>
                                <tr>
                                    <td class="text-center"><h6> خالد محمد</h6></td>
                                    <td class="text-center"><h6> 21 / 08 / 2023</h6></td>
                                    <td class="text-center"><h6> إمـبابه</h6></td>
                                    <td class="text-center"><button class="btn btn-pill btn btn-primary" type="button" title="btn btn-pill btn-success" data-bs-toggle="modal" data-bs-target="#exampleModalfat5" data-whatever="@Html.Raw("@mdo")">  معلومات <i class="fas fa-question"></i> </button></td>

                                    @*<span class="badge rounded-pill badge-success">*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="exampleModalfat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-items-center" id="exampleModalLabel2"> <img width="65" height="65" src="https://img.icons8.com/bubbles/65/attach.png" alt="attach" /> - التـفاصيل الإداريه</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table display align-middle text-center table-hover border border-secondary-subtle" id="table" data-order='[[ 0, "asc" ]]' data-page-length='10'>

                        <thead>
                            <tr>
                                <th class="text-center"> <i class="fas fa-signature"></i> القائم بالغسل</th>
                                <th class="text-center"><i class="fas fa-signature"></i> القائم بالدفن</th>
                                <th class="text-center"><i class="fas fa-signature"></i> القائم بالنقل </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center font-success"><h6> أحمد محمد</h6></td>
                                <td class="text-center font-success"><h6> السيد جلال</h6></td>
                                <td class="text-center font-success"><h6> ممدوح طارق</h6></td>

                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="modal fade" id="exampleModalfat5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-items-center" id="exampleModalLabel2"> <img width="80" height="80" src="https://img.icons8.com/bubbles/80/paper-plane.png" alt="paper-plane" /> - إضـافه بيانات مـتوفي</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="mb-3 col-xxl-6 col-xl-12 box-col-12">
                            <label class="form-label" for="exampleFormControlInput5"> <i class="far fa-map-marker-alt font-primary"></i> <strong>أسـم الـمتوفي</strong></label>
                            <input class="form-control btn-pill" type="text" placeholder="مثـلا : أحمد خـالد" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-xxl-6 col-xl-12 box-col-12">
                            <label class="form-label" for="exampleFormControlInput5"> <i class="fas fa-globe-africa font-primary"></i> <strong>أسـم المنطقه </strong></label>
                            <select class="form-select btn-pill" required="">
                                <option selected="" disabled="" value="">إختـار  المنطقه ...</option>
                                <option>الـجيزة</option>
                                <option>الـقاهرة</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-xxl-6 col-xl-12 box-col-12">
                            <label class="form-label" for="exampleFormControlInput5"> <i class="fas fa-globe-africa font-primary"></i> <strong>أسـم المقـبرة </strong></label>
                            <select class="form-select btn-pill" required="">
                                <option selected="" disabled="" value="">إختـار  المقـبرة ...</option>
                                <option>جـاد</option>
                                <option>شـلبي</option>
                                <option>أبناء النـوبه</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-success rounded-pill widget-hover mt-3" style="transition: 1s;" type="submit"><strong>حـفـظ</strong> <i class="fas fa-location-arrow" style="font-size: 17px;"></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>